<div>
    <label for="phoneNumber">Enter Numbers:</label>
    <input type="text" class="form-control w-50" [(ngModel)]="phoneNumber" maxlength="10" placeholder="enter mobile number" oninput="this.value = this.value.replace(/[^0-9]/g, '');"/>
    <p *ngIf="phoneNumber.length > 0">
        Formatted Number: 
        <ng-container *ngIf="phoneNumber.length >= 1">({{ phoneNumber.slice(0, 3) }}</ng-container>
        <ng-container *ngIf="phoneNumber.length === 3">)-</ng-container>
        <ng-container *ngIf="phoneNumber.length >= 4">)-({{ phoneNumber.slice(3, 6) }}</ng-container>
        <ng-container *ngIf="phoneNumber.length === 6">)-</ng-container>
        <ng-container *ngIf="phoneNumber.length >=7">)-{{ phoneNumber.slice(6, 10) }}</ng-container>
    </p>
</div>